@media (max-width:1200px){
   .carousel{
      &__wrapper{
         width: 700px;
      }
   }
}
@media (max-width:991px){
   .promo{
      min-height: 600px;
      padding:25px;
      &__wrapper{
         margin-top: 75px;
      }
      &__items{
         margin-top: 40px;
      }
      &__title{
         font-size: 35px;
      }
      &__subtitle{
         font-size: 20px;
      }
      &__link a{
         font-size: 14px;
      }
   }
   .button--main{
      width: 265px;
      height: 45px;
      font-size: 14px;
      margin-top: 40px;
   }
   .header{
    
      &__phone{
         font-size: 15px;
      }
   }
   .advantage{
      min-height: 420px;
      padding: 60px 0 50px 0;
      &__items{
         margin-top: 35px;
         padding: 0 15px;
      }
      &__item{
         width: 240px;
      }
      &__subtitle{
         font-size: 17px;
         margin-top: 16px;
      }
      &__descr{
         margin-top: 10px;
      }
   }
   .title{
      font-size: 28px;
   }
   .consultation{
      min-height: 525px;
      padding: 70px 0;
      &__descr{
         font-size: 16px;
         margin-bottom: 25px;
         text-align: center;
      }
   }
   .feed-form{
      margin: 0 auto;
      & input{
         height: 40px;
         margin-bottom: 20px;
      }
   }
   .title--left{
      font-size:26px;
      text-align: center;
   }
   .button--submit{
      height: 40px;
   }
   .carousel{
      .slick-dots{
         justify-content: space-between;
         display: flex;
         width: 200px;
         margin: 0 auto;
         list-style-type: none;
         & button{
            margin-top: 15px;
            width: 30px;
            height: 3px;
            background: rgb(247, 251, 251) ;
            overflow: hidden;
         }
      }
      .slick-active{
         & button{
            background: $main_color;
         }
      }
   }
   .catalog{
      &__tabs{
         font-size: 16px;
         margin-top: 35px;
         line-height: 38px;
      }
      &__tab{
         width: 175px;
         height: 40px;
      }
   }
   .review{
      &__wrapper{
         padding: 0 20px;
      }
   }
   .footer{
      overflow: hidden;
      height: 460px;
      &__info{
         padding: 20px;
         width: 400px;
         height: 200px;
      }
      &__address{
         font-size: 18px;
         margin-bottom: 25px;
      }
      &__social-item{
         width: 45px;
         height: 45px;
      }
      a{
         font-size: 18px;
      }
   }
}
@media (max-width:767px){
   .header{
      padding: 0;
      &__logo{
         width: 150px;
      }
      &__official{
         font-size: 11px;
         font-weight: 300;
         & span{
            font-size: 17px;
         }
      }
      &__phone{
         font-size: 11px;
         font-weight: 500;
         
      }
   }
   .button{
      height: 25px;
      font-size: 11px;
      width: 140px;
   }
   .button--main{
      height: 35px;
      font-size: 13px;
      width: 220px;
   }
   .button--submit{
      width: 100%;
      height: 40px;
      font-size: 14px;
   }
   .promo{
      min-height: 555px;
      &__wrapper{
         align-items: center;
      }
      &__title{
         font-size: 26px;
      }
      &__subtitle{
         font-size: 17px;
      }
      &__link {
         font-size: 12px;
      }
      &__link a{
         font-size: 12px;
      }
}
   .advantage{
      &__items{
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 28px;
      }
      &__item{
         min-width: 400px;
      }
   }
   .title{
      font-size: 22px;
   }
   .title--left{
      font-size: 24px;
   }
   .carousel{
      &__wrapper{
         width: 580px;
      }
   }
   .catalog{
      &-item{
         width: 250px;
         padding: 20px 15px 20px 5px;
      }
      &-item__descr{
         font-size: 12px;
      }
      &-item__old-price{
         font-size: 11px;
      }
      &-item__new-price{
         font-size: 13px;
      }
   }
   .review__descr{
      font-size: 13px;
   }
   .title--review{
      margin: 40px;
   }
}
@media (max-width:575px){
   .modal{
      width: 260px;
      min-height: 320px;
      padding: 15px;
      &__subtitle{
         font-size: 14px;
      }
      &__descr{
         font-size: 11px;
         margin-bottom: 18px;
      }
      .feed-form{
         width: 220px;
      }
      & label.error{
         font-size: 10px;
         margin-bottom: 5px;
         margin-top: -15px;
      }
   }
   .title{
      font-size: 16px;
   }
   .button{
      height: 21px;
      font-size: 9px;
      width: 100px;
      &--main{
         margin-top: 18px;
         height: 20px;
         font-size: 9px;
          width: 138px;
          font-weight: 300;
      }
      &--submit{
         width: 100%;
         height: 35px;
         font-size: 12px;
      }
   }
   .header{
      &__official{
         display: none;
      }
      &__logo{
         width: 120px;
      }
      &__phone{
         font-size: 9px;
      }
   }
   .promo{
      min-height: 380px;
      &__wrapper{
         margin-top: 40px;
      }
      &__title{
         font-size: 18px;
      }
      &__subtitle{
         font-size: 12px;
      }
      &__items{
         min-width: 290px;
         margin-top: 25px;
      }
      &__item{
         width: 33%;
         & p{
            font-size: 10px;
            font-weight: 300;
            margin-top: 8px;
         }
         & img{
            width: 39px;
            height: 40px;
         }
      }
      &__link{
         font-weight: 33;
         font-size: 9px;
         & a{
            font-weight: 300;
            font-size: 9px;
         }
      }

   }
   .advantage{
      padding: 45px 0;
      &__items{
         margin-top: 15px;
      }
      &__item{
         min-width: 300px;
         margin-top: 10px;
      }
      &__subtitle{
         margin-top: 10px;
      }
      &__descr{
         margin-top: 5px;
      }
   }
   .consultation{
      min-height: 500px;
      &__descr{
         font-size: 12px;
      }
   }
   .feed-form{
      width: 240px;
      & input{
         height: 35px;
      }
   }
   .carousel{
      padding: 60px 0 40px 0;
      .slick-dots{
         width: 150px;      
         & button{
            width: 20px;
            height: 2px;
         }
      }
   
   &__wrapper{
      width: 300px;
   }
   }
   .catalog{
      &__tabs{
         font-size: 8px;
         margin-top: 28px;
      }
      &__tab{
         width: 78px;
         height: 20px;
         line-height: 20px;
      }
      &__content{
         margin-top: 35px;
      }
   }
   .review{
      &__item{
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-bottom: 25px;
      }
      &__photo{
         margin: 0 0 20px 0;
      }
      &__name,.review__distance{
         text-align: center;
      }
   }
   .footer{
      &__info{
         height: 130px;
         width: 100%;
      }
      &__address{
         font-size: 12px;
         margin-bottom: 8px;
      }
      a{
         font-size: 13px;
      }
      &__social{
         margin-top: 10px;
      }
      &__social-item{
         width: 35px;
         height: 35px;
      }
   }
   .pageup{
      right: 15px;
      font-size: 20px;
   }
}